<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Chat</title>
    <script src="/js/jquery-1.10.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="all" href="/css/bootstrap.min.css" />
	<style type="text/css">
		body{margin:0;padding:0;}
		#door{ width:100%; height:150px; }
		#door p{ margin:5px ; width:97%;}
		#uid{width:99%;}
		#enter{width:100%;}
		#msgArea{ height:400px; overflow-x:hidden; overflow-y:auto; margin:auto; border:1px solid #aaa; }
		#chat{display:none;}
        .text-right
        {
            text-align: right !important;
        }
        .msg {}
        body {
            background-repeat:repeat-y;
            background-position:center center;
            background-attachment:scroll;
            background-size:100% 100%;
        }
        .ui-page {
            background: transparent;
        }
        .ui-content{
            background: transparent;
        }
        img {
            width:33%;
            height:auto;
        }
	</style>
    
	<script type="text/javascript" src='/socket.io/socket.io.js'></script>
	<script type="text/javascript">
	$(function(){
		var nick_name = '';
		var socket = io.connect();
        console.log(window['localStorage']);
        if(typeof(localStorage) !== "undefined") {  
            var localStorage = window['localStorage'];
            if(localStorage.nick){
                var nick_name =localStorage.nick;
    			socket.emit('systemIn',{
					name : nick_name
				});
     			$("#door").slideUp(200).delay(200,function(){
					$("#chat").slideDown(200);
				});
            }
        }  
		$("#enter").click(function(){
            console.log('a');
			nick_name = $('#uid').val();
			if(nick_name == "")
			{
				alert('아이디를 입력하세요');
			}
			else
			{
				socket.emit('systemIn',{
					name : nick_name
				});
                console.log(window['localStorage']);
                window.localStorage.nick = nick_name;
				$("#door").slideUp(200).delay(200,function(){
					$("#chat").slideDown(200);
				});
			}
		});
        $(".thumbnail").click(function(){
            var src = '/img/'+this.className.replace('thumbnail ','');
            console.log(src);
            socket.emit('imageWrite',{name : nick_name, src: src});
        });
		socket.on('systemList',function(data){
			$("#nick_lst").empty();
			$("#nick_lst").append('<option value="poblic">모두</option>');
			for (var i in data) {
				$("#nick_lst").append('<option value="'+data[i]+'">'+data[i]+'</option>');
			}
		});
		socket.on('systemIn',function(data){
			$('#msgArea').append('<div class="row"><p class="col-lg-6 col-sm-6 col-sm-offset-1 label label-info">'+data.name+'님이 입장하셨습니다.</span></div>');
			scrollDonw();
		});
        
		socket.on('systemOut',function(data){
			$('#msgArea').append('<div class="row"><span class="col-lg-6 col-sm-6 col-sm-offset-1 label label-info">'+data.name+'님이 퇴장하셨습니다.</span></div>');
			scrollDonw();
		});
        
		socket.on('messageMe',function(data){
            var message = string_cut(data.message, 20);
			$('#msgArea').append('<div class="row text-right"><div class="username col-lg-2 col-sm-2 col-lg-offset-10 col-sm-offset-8"><span class="label label-default">'
                                    +data.name+
                                    '</span></div></div><div class="row text-right"><div class="col-lg-2 col-sm-2 col-lg-offset-10 col-sm-offset-8"><span class="label label-primary">'+message+'</span></div></div>');
			scrollDonw();
		});
    	socket.on('message',function(data){
            var message = string_cut(data.message, 20);
			$('#msgArea').append('<div class="row"><div class="username col-lg-2 col-sm-2"><span class="label label-default">'
                                    +data.name+
                                    '</span></div></div><div class="row"><div class="col-lg-2 col-sm-2"><span class="label label-primary">'+message+'</span></div></div>');
			scrollDonw();
		});
        socket.on('imageWrite',function(data){
            console.log(data);
            $('#msgArea').append('<div class="row"><div class="username col-lg-2 col-sm-2"><span class="label label-default">'
                                    +data.name+
                                    '</span></div></div>');
            $('#msgArea').append('<div class="row"><div class="col-lg-2 col-sm-2"><img src="'+data.src+'"></div></div>'); 
			scrollDonw();
		});
        socket.on('imageWriteMe',function(data){
            console.log(data);
            $('#msgArea').append('<div class="row text-right"><div class="username col-lg-2 col-sm-2 col-lg-offset-10 col-sm-offset-8"><span class="label label-default">'
                                    +data.name+
                                    '</span></div></div>');
            $('#msgArea').append('<div class="row"><div class="text-right col-lg-2 col-sm-2 col-lg-offset-10 col-sm-offset-8"><img src="'+data.src+'"></div></div>');
            $("#myModal").modal('hide');
    		scrollDonw();
		});
		$("#txt").keypress(function(ent){
			if(ent.which == 13){
				$("#input").click();
			}
		});
		$("#input").bind('click',function(){
            if($("#txt").val() == ''){
                alert('글을 써줘용~!');
                return;
            }else{
			    socket.emit('message',{
				    type : $("#nick_lst").val(),
				    name : nick_name,
    				message : $("#txt").val()
			    });
            }
			$("#txt").val('');
		});
        $('#imotiNav li').bind('click',function(){
            $(this).parent().children().removeClass('active');
            $(this).addClass('active');
            
            $('#imoti').children().hide();
            
            var obj_id = '#'+ $(this).attr("id");
            obj_id += '_l';
            console.log(obj_id);
            $('#imoti').find(obj_id).show();
            
        });
	});
	function scrollDonw()
	{
		$("#msgArea").animate({'scrollTop':$("#msgArea")[0].scrollHeight},200);
	}
    function string_cut(str, len) {
        var cnt = Math.ceil(str.length / len),
            tmpStr = '';
        
        for(var i = 0 ; i < cnt ; i++){
            if(str.length > len){
                tmpStr += str.substr(0, len);
                tmpStr += '<br/>';
                str = str.substr(len, str.length-1);
            }else{
                tmpStr += str;
            }
        }
        return tmpStr;
    }
	</script>
</head>
<body>
<div class="container">
    <div class="row">
	    <div id="header" class="text-center text-info col-lg-12 col-sm-12">
    		<h4>Chat</h4>
	    </div>
    </div>
    <div class="row">
	    <div id="door" class="">
            <p style='margin-top:50px;'>※닉네임정해줘요~!</p>
		    <p><input type="text" name='uid' id="uid" value="" /></p>
    		<p><button class="btn btn-primary" id='enter'/>입장</button></p>
	    </div>
    </div>
    <div id="chat">
        <div class="row">
    	    <div id="msgArea" class="col-lg-12 col-sm-12"></div>
        </div>
        <div class="row">
                <button id="imoiBtn" style="width:20%" class="col-lg-1 col-sm-3 btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">이모티콘</button>
		        <input type="text" style="width:57%" class="col-lg-10 col-sm-7" name="txt" id="txt" />
                <button id="input" style="width:20%" class="col-lg-1 col-sm-2 btn btn-sm btn-primary">입력</button>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">이모티콘</h4>
            </div>
            <div class="modal-body">
            <ul id="imotiNav" class="nav nav-pills">
                <li id="imoti1" class="active"><a href="#">카카오</a></li>
                <li id="imoti2"><a href="#">귀요미</a></li>
                <li id="imoti3"><a href="#">짱구</a></li>
            </ul>
                <div id="imoti" class="row">
                    <div id="imoti1_l" class="col-lg-12 col-sm-12">
                        <a href="#" class="thumbnail kakao1.png">
                            <img src="/img/kakao1.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao2.png">        
                            <img src="/img/kakao2.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao3.png">        
                            <img src="/img/kakao3.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao4.png">        
                            <img src="/img/kakao4.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao5.png">        
                            <img src="/img/kakao5.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao6.png">        
                            <img src="/img/kakao6.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao7.png">        
                            <img src="/img/kakao7.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao8.png">        
                            <img src="/img/kakao8.png" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail kakao9.png">        
                            <img src="/img/kakao9.png" class="img-polaroid">
                        </a>                        
                    </div>
                    <div id="imoti2_l" class="col-lg-12 col-sm-12" style="display:none">
                        <a href="#" class="thumbnail gahye1.gif">
                            <img src="/img/gahye1.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail gahye2.gif">        
                            <img src="/img/gahye2.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail gahye3.gif">        
                            <img src="/img/gahye3.gif" class="img-polaroid">
                        </a>
                    </div>
                    <div id="imoti3_l" class="col-lg-12 col-sm-12" style="display:none">
                        <a href="#" class="thumbnail jjangu1.gif">
                            <img src="/img/jjangu1.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail jjangu2.gif">        
                            <img src="/img/jjangu2.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail jjangu3.gif">        
                            <img src="/img/jjangu3.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail jjangu4.gif">        
                            <img src="/img/jjangu4.gif" class="img-polaroid">
                        </a>
                        <a href="#" class="thumbnail jjangu5.gif">        
                            <img src="/img/jjangu5.gif" class="img-polaroid">
                        </a>                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row">
    	<div id="footer" class="col-lg-12 col-sm-12"></div>
    </div>
</div>
</body>
</html>